<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="environment" default="marina"/>

    <!--Start the gpcoctomap node -->
    <node pkg="gpcoctomap" type="gpcoctomap_server" name="gpcoctomap_server" output="screen">

        <!-- Load method configuration from file -->
        <rosparam file="$(find gpcoctomap)/config/gpcoctomap_$(arg environment).yaml" command="load"/>
        
    </node>

</launch>
